article, aside, figcaption, figure, footer, header, hgroup, main, nav, section, video {
    display:block;
}
* {
	padding: 0;
	margin: 0;
	border: 0;
}
/* WEBSITE-WIDE STYLES */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: border-box;
}
body {
	background-color: white;
}
#container {
	margin: auto;
	background-color: white;
	font-family: 'Lato', sans-serif;
	color: #303030;
}
header {
	font-family: 'Josefin Sans', sans-serif;
	color: #3e4449;
	font-weight: 400;
	margin-bottom: 10px;
	margin-top: 30px;
}
#logo {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 400px; /*Fix logo file later to match this size*/
}
nav {
	float: right;
	padding-top: 10px;
}
nav ul {
	list-style-type: none;
}
nav ul li{
	padding-top: 10px;
	font-size: 16px;
	text-align: right;
}
nav ul li a, nav ul li a:visited, footer a, footer a:visited {
	text-decoration: none;
	color: #3e4449;
}
nav ul li a:hover, footer a:hover {
	text-decoration: none;
	color: #1bc6b4;
}
footer {
	font-family: 'Josefin Sans', sans-serif;
	color: #3e4449;
	font-weight: 400;
	margin-top: 20px;
	text-align: center;
}
.fa-circle {
	color: #1bc6b4;
}
.social-button:hover .fa-circle:before {
	color: #3e4449;
}
.fa-facebook, .fa-twitter {
	margin-top: 2px;
}

/*HOME PAGE STYLES*/
#intro_text p, #about_main p{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #3e4449;
	font-size: 1.3rem;
	line-height: 2rem;
}
#intro_text a, #intro_text a:visited, #about_main a, #about_main a:visited {
	text-decoration: none;
	color: #1bc6b4;
}
#intro_text a:hover, #about_main a:hover {
	text-decoration: none;
	color: #3e4449;
}
/*ABOUT PAGE STYLES*/
#about_img img{
	margin-bottom: 10px;
	border: 5px solid #fff;
	box-shadow: 0 0 5px #828282;
}
/*PORTFOLIO HOME PAGE*/
.mainbox {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}
.mainbox a, .mainbox a:visited {
	color: #3e4449;
	text-decoration: none;
}
.card {
	width: 210px;
	border: 5px solid #fff;
	box-shadow: 0 0 5px #828282;
	margin: 10px;
}
.card:hover {
	box-shadow: 0 0 5px 2px #828282;
}
.card section {
	padding: 5px;
	letter-spacing: .02em;
	border-top: 2px solid #1bc6b4;
}
.card h1 {
	font-size: 1.3rem;
	font-weight: 400;
}
.card p {
	font-weight: 300;
	font-size: 1.1rem;
	padding-top: .5rem;
}
/*PROJECT PAGE STYLES*/
#project_section h1 {
	display: inline;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2rem;
}
#project_section h2 {
	color: #3e4449;
	display: inline;
	font-weight: 300;
	font-size: 1.4rem;
	line-height: 2rem;
}
#project_section p {
	font-weight: 300;
	letter-spacing: .015em;
	font-size: 1.1rem;
	line-height: 1.7rem;
	margin-top: .5rem;
	margin-bottom: 1rem;
}
#project_section a, #project_section a:visited {
	color: #1bc6b4;
	text-decoration: none;
}
#project_section a:hover {
	font-weight: 700;
}
