article, aside, figcaption, figure, footer, header, hgroup, main, nav, section, video {
    display:block;
}
* {
	padding: 0;
	margin: 0;
	border: 0;
}
/* WEBSITE-WIDE STYLES */
body {
	background-color: white;
}
#container {
	margin: auto;
	background-color: white;
	width: 700px;
}
header {
	font-family: 'Josefin Sans', sans-serif;
	color: #3e4449;
	font-weight: 400;
	margin-bottom: 10px;
}
#logo {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 400px; /*Fix logo file later to match this size*/
}
nav {
	float: right;
	padding-top: 10px;
}
nav ul {
	list-style-type: none;
}
nav ul li{
	padding-top: 10px;
	font-size: 16px;
	text-align: right;
}
nav ul li a, nav ul li a:visited, footer a, footer a:visited {
	text-decoration: none;
	color: #3e4449;
}
nav ul li a:hover, footer a:hover {
	text-decoration: none;
	color: #1bc6b4;
}
#blank {
	height: 10px;
}
footer {
	font-family: 'Josefin Sans', sans-serif;
	color: #3e4449;
	font-weight: 400;
	margin-top: 10px;
	text-align: center;
}
#social figure {
	display: inline;
	padding-right: 15px;
}
/*HOME PAGE STYLES*/
#intro_text p, #about_main p{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #3e4449;
	font-size: 1.3rem;
	line-height: 2rem;
}
#intro_text a, #intro_text a:visited, #about_main a, #about_main a:visited {
	text-decoration: none;
	color: #1bc6b4;
}
#intro_text a:hover, #about_main a:hover {
	text-decoration: none;
	color: #3e4449;
}
/*ABOUT PAGE STYLES*/
#about_img img{
	margin-bottom: 10px;
	border: 5px solid #fff;
	box-shadow: 0 0 5px #828282;
}

/*PROJECT PAGE STYLES*/
#project_main {
	padding: 20px;
	clear: both;
	width: 800px;
	margin: auto;
}
#project_section {
	font-family: 'Lato', sans-serif;
	padding-bottom: 20px;
}
#project_section h1 {
	font-size: 18px;
	color: #3e4449;
	display: inline;
}
#project_section h2 {
	font-size: 18px;
	font-weight: 300;
	color: #3e4449;
	display: inline;
}
#project_section p {
	font-weight: 300;
	font-size: 16px;
	color: #303030;
	line-height: 20px;
	letter-spacing: .015em;
	margin-top: 5px;
}
#project_section a, #project_section a:visited {
	color: #1bc6b4;
	text-decoration: none;
}
#project_section a:hover {
	font-weight: 700;
}
